<html>
<head>

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>


<body>

<!-- GOOGLE PLUS SIGN IN-->
          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="585988940161-glf382elu22pvr84d1ss7j1p1fg76ltp.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // sign-in button is hidden now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the unique use code to the server, and write a 'login successful' message if successful. Then redirect back to home page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server's response.
        if (result) {
          $('#result').html('Welcome back!</br>'+ result + '</br>Redirecting to home page...')
         setTimeout(function() {
          window.location.href = "/offerings";
         }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Server-side call failed. Check your configuration and console.');
         }
      }

  }); } }
</script>
<!--END GOOGLE PLUS SIGN IN -->

  </body>

  </html>