<html>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
         </ul>
        {% endif %}
    {% endwith %}
  <h1>{{offering.title}}</h1>
    <figure class="owner">
				<img src="{{ owner.picture}}">
				<figcaption>{{ owner.name }}</figcaption>
			</figure>

    <a href='{{ url_for('editOffering', offering_id = offering.id) }}'>Edit</a>
        </br>
        <a href='{{ url_for('deleteOffering', offering_id = offering.id) }}'>Delete</a>
        </br>
	<div>
    <h3>{{offering.date}}</br></h3>

        {% for i in tags %}
        <h5>{{i.name}}</br></h5>
        {% endfor %}


        Comments:

        {% for j in comments %}
            {% for x in commenter %}
                <h4>{{ x.name}}</h4>
        <h5>{{j.body}}</br></h5>
             {% endfor %}
        {% endfor %}

    <form id="myForm" action="#" method="post">
            Comment: <textarea name="body"></textarea>
            <input type="submit" value="Submit Comment" />
        </form>




    <a href='{{url_for('offering')}}'>Back</a>



</body>
</html>