<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Offering Detail</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
         </ul>
        {% endif %}
    {% endwith %}

    <div class="row banner menu">
    <figure class="owner">
				<img src="{{ owner.picture}}">
				<figcaption>{{ owner.name }}</figcaption>
			</figure>
    </div>

    <h1>{{offering.title}}</h1>
    <a href='{{ url_for('editOffering', offering_id = offering.id) }}'>Edit</a>
        </br>
        <a href='{{ url_for('deleteOffering', offering_id = offering.id) }}'>Delete</a>
        </br>
	<div>
    <h3>{{offering.date}}</br></h3>


        Images:
        {% for x in files %}
        <img src ="{{url_for('uploadedfile', filename = x.image)}}"/></br></h5>
        {% endfor %}

        <button class = "button">
        {% for i in tags %}
        <span>{{i.tag_name}}</span>
        {% endfor %}
        </button>
        <a href='{{url_for('newTag', offering_id = offering.id)}}'>Add New Tag</a>




        Comments:

        {% for j in comments %}
            {% for x in commenter %}
                <h4>{{ x.name}}</h4>
        <h5>{{j.body}}</br></h5>
             {% endfor %}
        {% endfor %}

    <form id="myForm" action="#" method="post">
            Comment: <textarea name="body"></textarea>
            <input type="submit" value="Submit Comment" />
        </form>




    <a href='{{url_for('offering')}}'>Back</a>



</body>
</html>