<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Offering Detail</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
         </ul>
        {% endif %}
    {% endwith %}
  <h1>{{offering.title}}</h1>
    <figure class="owner">
				<img src="{{ owner.picture}}">
				<figcaption>{{ owner.name }}</figcaption>
			</figure>



	<div>
    <h3>Date Added: {{offering.date}}</br></h3>
        Images:
        {% for x in files %}
        <img src ="C:\Users\mjudg\PycharmProjects\BabiesGrow\static\uploads\{{x.image}}"/></br></h5>
        {% endfor %}


        {% for i in tags %}
        <h5>{{i.tag_name}}</br></h5>
        {% endfor %}


	</div>

    <div>
        Comments:

        {% for j in comments %}

                <h5>{{j.body}}</br></h5>
            <h4>{{ j.user.name}}</h4>


        {% endfor %}
    </div>

    <form id="myForm" action="#" method="post">
            <textarea name="body"></textarea>
            <input type="submit" value="Submit Comment" />
        </form>

    </br>
    <a href='{{url_for('offering')}}'>Back</a>



</body>
</html>